@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}


.manrope {
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

/* shared style */

* {
    box-sizing: border-box;
}

:root {
    --text-3A: #3a3a3a;
    --text-gray-900: #18191F
}

.section-size {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}


.text-3A {
    color: #3a3a3a;
}

.text-gray-900 {
    color: #18191F;
}

.text-gray-300 {
    color: #D9DBE1;
}

.display-flex {
    display: flex;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.btn {
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #E02C6D;
    border-radius: 41px;
    border: none;
}



/* main */
html {
    font-size: 16px;
}



/* navbar */

#hero {
    margin-top: 50px;
}

.navbar {
    justify-content: space-between;
}

.nav-title {
    font-weight: bold;
}

.menu {
    list-style: none;
    gap: 34px;
}

.menu a {
    text-decoration: none;
    color: var(--text-3A);
    font-size: 1rem;
    font-weight: 600;
}


/* banner */
.banner {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 3.25rem;
    line-height: 4.5rem;
}

.banner-info {
    max-width: 582px;
}

.banner-img {
    padding: 20px;
    background-image: url("../images/Circle\ design.svg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-img img {
    width: 100%;
}

/* sponsors */
.sponsor {
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;

}

.sponsor img {
    width: 100%;
}

/* collection */
.collection {
    max-width: 1050px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.box img {
    width: 100%;
}

.box-title {
    font-weight: 500;
    font-size: 1.75rem;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 6px;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    margin: 0;

}

.stars {
    margin-bottom: 0;
}

.ratings {
    color: #5E6366;
    font-size: bold;
    line-height: 1.7rem;
}

.description {
    color: #787885;
    max-width: 200px;
    font-weight: bold;
    font-size: 0.875rem;

}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    text-align: right;
}

.see-more a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
}

.see-more a:hover {
    color: #df0808;
}


/* featured products style */
.feature-product {
    max-width: 1120px;
    justify-content: space-between;
}
.feature-img {
    max-width: 100%;
}
.feature-text {
    max-width: 610px;
    font-weight: bold;
    color: #6C6C6C;
}

.feature-title {
    color: #0A0826;
    font-size: 2.375rem;
}

/* Footer style css */

footer {
    background-color: rgb(3, 3, 51);
    font-weight: bold;
    text-align: center;
}
.footer-items {
    color: white;
    max-width: 262px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title {
    font-size: 1.5rem;
}

.icons {
    justify-content: space-evenly;
}

.copyright {
    font-size: 0.875rem;
}


@media screen and (max-width:576px) {

    .navbar,
    .menu {
        flex-direction: column;
    }

    .banner,
    .feature-product {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;

    }

    .banner,
    .banner {
        gap: 50px;
    }

    .menu {
        gap: 5px;
        align-items: center;
    }


    .banner-title {
        font-size: 1.75rem;
        line-height: normal;
    }

    .banner-text {
        font-size: 0.85rem;
    }

    .sponsor {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        text-align: center;
    }

    .sponsor>div:nth-child(-n+4) {
        grid-column: span 3;
        padding: 10px;
    }

    .sponsor>div:nth-child(n+5) {
        grid-column: span 4;
        padding: 10px;
    }

    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .sponsor {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}